@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Pacifico&display=swap");
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
   
}
.appear,
.appear:active,
.appear:hover{
    color: rgb(134, 60, 134);
    text-decoration: none !important;

}
.btn{
    padding: 0.6rem 1.3rem;
    border-radius: 5px;
}
h2 {
    font-family: "Acme", sans-serif;
}
#logo {
    font-family: "Pacifico", cursive;
    margin-right: 10px;
    color: rgb(42, 11, 153);
    font-size: 36px;
}
a {
    color: white;
    font-size: 1.6rem;
}
#navbar {
    margin: 2.3rem 4rem 0 4.6rem;
}
#sign {
    margin-right: 10px;
}

.section{

}
.form-text{
    text-align: center;
}
.h2{
    background-image: linear-gradient(to right, rgb(155, 155, 223), rgb(230, 144, 144));
    -webkit-background-clip: text;
    color:  transparent;
    font-size: 3rem;
    margin-bottom: 8rem;
}
.section-form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
    padding: 5rem;
    border: 1px solid rgb(63, 63, 87);
    border-radius: 5px;
}
.form-group:not(:last-child){
    margin-bottom: 2rem;
}
.form-input{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(252, 252, 252);
    border-radius: 2px;
    display: block;
    width: 30rem;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgb(255, 195, 85);
}
.form-input:focus{
    outline: none;
    transition: all .4s;
    border-bottom: rgb(23, 34, 182) 3px solid;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.11);
}
.form-input:focus:invalid{
    border-bottom: rgb(182, 23, 23) 3px solid;
}
.form-input::-webkit-input-placeholder{

}
.label{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s;
}
.form-input:placeholder-shown + .label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}
.button-box{
    text-align: center;
    margin-top: 5rem;
}
.button:link,
.button:visited{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    transition: all .2s;
    position: relative;
}
.button:hover{
    transform: translateY(-.8rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.199);
}
.button:active{
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.199);
}
.button::after{
    content:"";
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .4s;
    z-index: -1;
    background-color:rgb(226, 219, 219);
}
.button:hover::after{
    transform: scale(1.5);
    opacity: 0;
}
.button-box .footer-left{
    margin-top: 3rem;
}
footer {
    /* bottom: 100%; */
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 73rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    
.h2{
    background-image: linear-gradient(to right, rgb(155, 155, 223), rgb(230, 144, 144));
    -webkit-background-clip: text;
    color:  transparent;
    font-size: 2.5rem;
    margin-bottom: 8rem;
}
.section-form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 72.3%;
    left: 50%;
    padding: 3rem;
    border: none;
    border-radius: 5px;
}

.appear,
.appear:active,
.appear:hover{
    color: rgb(134, 60, 134);
    text-decoration: none !important;

}
.btn{
    display: none;
}
h2 {
    font-family: "Acme", sans-serif;
}
#logo {
    font-family: "Pacifico", cursive;
    margin-right: 0;
    color: rgb(42, 11, 153);
    font-size: 30px;
}
a {
    color: white;
    font-size: 1rem;
}
#navbar {
    margin: 2rem 3rem 0 5rem;
}
#sign {
    margin-right: 10px;
}
.navbar-toggler{
    margin-right: 5rem;
}

}