h1 {
    border-bottom: 1px solid gray;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;

    padding: 40px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image {
    width: 50%;
}
img {
    width: 400px;
}
#contact {
    width: 50%;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    padding-top: 20px;
}
p {
    text-align: center;
}
#white {
    color: white;
}

/* responsive smartphone and tab and desktop */
@media only screen and (max-width: 900px) {
    img {
        display: none;
    }
    #contact {
        width: 100%;
    }
}

/* button */
#button-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
<<<<<<< HEAD
=======
a {
    margin-right: 20px;
}
>>>>>>> 9f023c8b92c5cdf386259b4b441857b226a17aa3
