@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Pacifico&display=swap");
* {
    padding: 0;
    margin: 0;
}
#white {
    color: white;
}
#sign {
    margin-right: 10px;
}
#logo {
    font-family: "Pacifico", cursive;
    margin-right: 10px;
    color: rgb(42, 11, 153);
    font-size: 36px;
}
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}
#sidebar {
    width: 20%;
    position: fixed;
    height: 40vh;
    transition: all 0.3s;
    padding-left: 3%;
    top: 10vh;
    z-index: 1;
    border-right: 1vh solid #17a2b8 !important;
}

.row {
    width: 20%;
}

.list {
    width: calc(100% - 20%);
    transition: all 0.5s;
    position: absolute;
    right: 0;
    top: 8vh;
}

#content.active {
    width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.show {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}
/* slide-box */
.slide-head {
    width: 100%;
    text-align: center;
    border-bottom: 1vh solid #17a2b8 !important;
    padding: 3% 5%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    color: floralwhite;
    height: 30vh;
}
.slide-head h2 {
    background: rgba(4, 149, 160, 0.5);
    width: fit-content;
    margin: auto;
    padding: 0 2%;
}
.slide-head p {
    background: rgba(0, 151, 19, 0.5);
    width: fit-content;
    margin: auto;
    padding: 0 2%;
}
#gathering .slide-head {
    background-image: url("/image/meeting-head.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 6vh;
}
#family .slide-head {
    background-image: url("/image/family-head.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 6vh;
}
#honeymoon .slide-head {
    background-image: url("/image/honeymoon-head.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 6vh;
}
.slide-box {
    width: 30%;
    margin: 1%;
}
.carousel-inner {
    height: 35vh;
}

.modal-content {
    border-top: 1vh solid #17a2b8;
    /* border-radius: 10% 10% 2% 2%; */
}
.modal-body ul {
    padding-left: 10%;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.checkout-villa {
    position: relative;
    height: 100vh;
    margin: auto;
    background-color: #17a2b8;
    top: 10vh;
    margin: auto;
    text-align: center;
    padding-top: 20vh;
}

.checkout {
    background-color: #f1f1f1;
    width: 35%;
    margin: auto;
    padding: 1% 5%;
    border-radius: 2vh;
}
.checkout button {
    width: 50%;
}

/* Responsive */
@media only screen and (max-width: 950px) {
    #sidebar {
        width: 20%;
        position: fixed;
        height: 100%;
        transition: all 0.3s;
        top: 10vh;
        z-index: 1;
        border-right: 1vh solid #17a2b8 !important;
    }
    .list {
        width: calc(100% - 20%);
        transition: all 0.5s;
        position: absolute;
        right: 0;
        top: 8vh;
    }
    .slide-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    #logo {
        font-size: 16px;
    }
    h5 {
        font-size: 10px;
    }
}
