@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Pacifico&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    text-decoration: none;
    color: black;
}
body {
    overflow-x: hidden;
}
/* Navbar */
h2 {
    font-family: "Acme";
}
#logo {
    font-family: "Pacifico", cursive;
    margin-right: 10px;
    color: rgb(42, 11, 153);
    font-size: 36px;
}
a {
    color: white;
}
#navbar {
    margin: 20px 40px 0 40px;
}
#sign {
    margin-right: 10px;
}

/* Jumbotron */
#jumbotron {
    background-image: url(/assets/img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
h1 {
    font-family: "Acme", sans-serif;
    color: black;
}
/* search-menu */

/* Section 1 */
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
/* CAROUSEL NEW VILLA */
.image-new-villa {
    width: 50%;
}

/* Section-2 */

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.text-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Section-3 */
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

/* Section-4 */

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.partner-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-wrap {
    width: 25%;
    margin: 10px;
}
.image {
    width: 200px;
}

/* Footer */

footer {
    bottom: 0;
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/* /* Form search */
.two-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#searching {
    width: 50%;
    background-color: rgba(255, 254, 254, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
}
#searching:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.form-group {
    width: 45%;
}
#container-jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#two-jumbotron {
    width: 60%;
}

#btn-transparant:hover {
    color: black;
}

/* tambahan section3-0 */
/*  container*/
.section-3-0 {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}
.hobby {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.image-why {
    width: 40%;
}
#why-rumah-nenek {
    width: 350px;
    padding: 50px;
}
#justify {
    width: 56%;
}
#head-h2 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: "Acme";
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#myDiv {
    display: none;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.whole {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
    display: block;
    position: fixed;
    z-index: 9999;
}

/* Responsive */
@media only screen and (max-width: 950px) {
    #jumbotron {
        width: 100%;
    }
    #container-jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #two-jumbotron {
        width: 100%;
    }
    #searching {
        width: 100%;
    }
    #text-jumbotron {
        width: 100%;
    }

    #container-form-search {
        display: flex;
        justify-content: center;
    }
    #logo {
        font-size: 16px;
    }

    /* why rumah nenek */
    .hobby {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    #justify {
        text-align: justify;
        width: 100%;
        padding: 10px;
    }
    .image {
        width: 80%;
    }
    #hobby2 {
        display: flex;
        flex-direction: column-reverse;
    }
    #logo {
        font-size: 14px;
    }
    h1 {
        border: none;
    }
    p {
        padding: 10px;
    }
    iframe {
        width: 80%;
    }
    .section-4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #form-mitra {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #button-group {
        margin-left: 10px;
    }
    /* overflow */
    body {
        overflow-x: hidden;
    }
}
